<div class="ekart-header">
    <div>
        <!--<img src="images/logo.jpeg">-->
        eKart
    </div>
    <div class="ekart-navbar">
        <div class="ekart-top-bar">
            <a href="#">Help</a>
            <a href="#">Exchange & Returns</a>
            <a href="#">Order Tracker</a>
            <a href="#">Signup/login</a>
        </div>
        <div class="ekart-bottom-bar">
            <div class="ekart-menu">
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">About</a>
            <a href="#">Contact</a>

            </div>
            <div class="ekart-search-bar">
                <input type="text" class="ekart-search-box" placeholder="search " >
                <button class="ekart-search-button">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
           </div>
        </div>
    </div>
</div>